
.trafficStopTop{
    height: 100px;
    width: 20px;
    background-color: black;
}

.trafficStopLight{
    height: 350px;
    width: 125px;
    background-color: black;

}

.trafficStop{
    height: 100vh;
}

.redLight{
    background-color:red ;
}

.yellowLight{
    background-color: yellow;
}

.greenLight{
    background-color: green;
}

.violetLight{
    background-color: violet;
}

.lightBody{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.light{
    box-shadow: -1px 2px 47px 31px rgba(162,162,11,0.66);
    -webkit-box-shadow: -1px 2px 47px 31px rgba(162,162,11,0.66);
    -moz-box-shadow: -1px 2px 47px 31px rgba(162,162,11,0.66);
}


